<app-restaurant-menu-item *ngIf="starters && starters.length" [menuItem]="starters" mealTypeName="Starters"></app-restaurant-menu-item>
<app-restaurant-menu-item *ngIf="salads && salads.length" [menuItem]="salads" mealTypeName="Salads"></app-restaurant-menu-item>
<app-restaurant-menu-item *ngIf="mainDish && mainDish.length" [menuItem]="mainDish" mealTypeName="Main Dish"></app-restaurant-menu-item>
<app-restaurant-menu-item *ngIf="deserts && deserts.length" [menuItem]="deserts" mealTypeName="Deserts"></app-restaurant-menu-item>
<app-restaurant-menu-item *ngIf="drinks && drinks.length" [menuItem]="drinks" mealTypeName="Drinks"></app-restaurant-menu-item>



