<div class="wrapper">
    <div class="wrapped-div">
        <div class="row">
            <div class="col-md-10 offset-md-1">

                <h2 class="text-white text-center mt-3">Enter new password</h2>
                
                <form [formGroup]="formModel" class="mb-4 mt-3" (submit)="onSubmit()">

                    <!-- password -->
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="Password">
                        <label class="text-danger" *ngIf="formModel.get('Password').touched && formModel.get('Password').errors?.required">This field is mandatory.</label>
                        <label class="text-danger" *ngIf="formModel.get('Password').touched && formModel.get('Password').errors?.minlength">Minimum 4 characters required.</label>
                    </div>

                    <!-- confirm password -->
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" formControlName="ConfirmPassword">
                        <label class="text-danger" *ngIf="formModel.get('ConfirmPassword').touched && formModel.get('ConfirmPassword').errors?.required">This field is mandatory.</label>
                        <label class="text-danger" *ngIf="formModel.get('ConfirmPassword').touched && formModel.get('ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
                    </div>
                    
                    <div class="text-center mb-3">
                        <label class="text-danger">{{message}}</label>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-8 offset-md-2">
                            <button type="submit" class="btn btn-lg btn-block" [disabled]="formModel.invalid">
                                Change Password
                                <loader [isLoading]="isLoading"></loader>
                            </button>
                        </div>
                    </div>
                
                </form>

            </div>
        </div>
    </div>
</div>